.settlements
  %span.image= image_tag("settlement_#{player.color}.png") + 'x'
  %span.number= player.settlements.size
  = link_to_build_settlement(player)
  = link_to_upgrade_settlement(player)
  = link_to_destroy_settlement(player)
