- form_for @game, :url => games_url, :method => :post do |game_form|
  
  = game_form.error_messages
  
  .expansions
    %table
      - Expansion.all.each do |expansion|
        %tr
          %td= check_box_tag "game[expansion_ids][]", expansion.id, @game.expansion_ids.include?(expansion.id), :id => dom_id(expansion)
          %td= label_for_expansion(expansion)
          
  .players
    players
    - @game.colors.each do |color|
      - game_form.fields_for :players, @game.players.new(:color => color) do |player_form|
        .player{:style => "background-color: #{color}"}
          %span.color= color
          %span.name= player_form.text_field :name
          = player_form.hidden_field :color
          
  = game_form.submit 'create'
