#game_title
  #number= "game ##{@game.id}"
  #expansions
    - @game.expansions.each do |expansion|
      = expansion.display_name
  = link_to 'edit/add players or customize', edit_game_url(@game)

%table#winners.centered
  - @winners.each do |player|
    %tr.player
      %td
        %span.name{:style => "color: #{player.color}"}= player.name
        %span.message= 'has enough victory points to win'

%table.players
  %tr
    - @game.players.each do |player|
      %td{:width => "#{100 / @game.players.size}%"}
        = render player
