#gameTitle
  #number= "game ##{@game.id}"
  #expansions
    - @game.expansions.each do |expansion|
      = expansion.display_name
  = link_to 'edit/add players or customize', edit_game_url(@game)

%table#winners.centered
  - @winners.each do |player|
    %tr.player
      %td
        %span.name{:style => "color: #{player.color}"}= player.name
        %span.message= 'has enough victory points to win'

%table.players{:border => 1}
  %tr
    - @game.players.each do |player|
      %td.player{:width => "#{100 / @game.players.size}%"}
        .name{:style => "background-color: #{player.color}"}
          %span= player.name
        .victoryPoints= pluralize(player.victory_points, 'victory point')
        = render :partial => 'cities/cities', :locals => {:player => player}
        = render :partial => 'settlements/settlements', :locals => {:player => player}
        - if @game.uses?(CitiesAndKnights)
          = render :partial => 'knights/knights', :locals => {:player => player}
