#game_title
  #number= "game ##{@game.id}"
  #expansions
    - @game.expansions.each do |expansion|
      = expansion.display_name
  = link_to 'edit/add players or customize', edit_game_url(@game)

%table#winners.centered
  - @winners.each do |player|
    %tr.player
      %td
        %span.name{:style => "color: #{player.color}"}= player.name
        %span.message= 'has enough victory points to win'

%table.players
  %tr
    - @game.players.each do |player|
      %td.player{:width => "#{100 / @game.players.size}%"}
        %div{:style => "border: 5px solid #{player.color == 'white' ? 'black' : player.color}"}
          .name{:style => "background-color: #{player.color}"}
            %span= player.name
          .victory_points= pluralize(player.victory_points, 'victory point')
          = render :partial => 'longest_roads/longest_road', :locals => {:player => player}
          = render :partial => 'largest_armies/largest_army', :locals => {:player => player}
          = render :partial => 'cities/cities', :locals => {:player => player}
          = render :partial => 'settlements/settlements', :locals => {:player => player}
          - if @game.uses?(CitiesAndKnights)
            = render :partial => 'knights/knights', :locals => {:player => player}
          - else
            = render :partial => 'soldiers/soldiers', :locals => {:player => player}
