#gameTitle
  #number= "game ##{@game.id}"
  #expansions
    - @game.expansions.each do |expansion|
      = expansion.display_name
      
%table.players{:border => 1}
  %tr
    - @game.players.each do |player|
      %td.player{:width => "#{100 / @game.players.size}%"}
        .name{:style => "background-color: #{player.color}"}
          %span= player.name
        .victoryPoints= pluralize(player.victory_points, 'victory point')
        = render :partial => 'cities/cities', :locals => {:player => player}
        = render :partial => 'settlements/settlements', :locals => {:player => player}
        - if @game.uses?(CitiesAndKnights)
          = render :partial => 'knights/knights', :locals => {:player => player}
