#gameTitle
  %span#number= "game ##{@game.id}"
  %br/
  %span#type= "(#{@game.type.to_s.titleize})"

%table.players{:border => 1}
  %tr
    - @game.players.each do |player|
      %td.player{:width => "#{100 / @game.players.size}%"}
        .name{:style => "background-color: #{player.color}"}
          %span= player.name
        .victoryPoints= pluralize(player.victory_points, 'victory point')
        = render :partial => 'cities/cities', :locals => {:player => player}
        = render :partial => 'settlements/settlements', :locals => {:player => player}
        = render :partial => 'knights/knights', :locals => {:player => player}
