- form_for @game, :html => {:class => 'game_form'} do |game_form|
  
  = game_form.error_messages
  
  .players
    players
    - if @game.new_record?
      (leave color blank if not playing)
    - @game.colors.each do |color|
      - player = @game.players.send(color) || @game.players.new(:color => color)
      - game_form.fields_for :players, player do |player_form|
        .player{:style => "background-color: #{color}"}
          %span.color= color
          %span.name= player_form.text_field :name
          = player_form.hidden_field :color
  
  - if @game.new_record?        
    = check_box_tag :add_expansions
    = label_tag :add_expansions, 'add expansions'
    %br/
  - else
    = game_form.label :victory_points_to_win
    = game_form.text_field :victory_points_to_win, {:size => 2}
  = game_form.submit 'save'
