#game_title
  #number= "game ##{@game.id}"
  #expansions
    - @game.expansions.each do |expansion|
      = expansion.display_name
  = link_to 'customize game or edit/add players', edit_game_url(@game)

- if @game.uses?(CitiesAndKnights)
  %table#game_counts.centered
    %tr
      %th cities
      %td= @game.barbarians.strength
    %tr
      %th activated knights
      %td= @game.barbarians.strength_defended_against
    %tr.barbarians_attack
      %td{:colspan => 2}= link_to 'barbarians attack', game_barbarians_attack_url(@game), :method => :put

%table#winners.centered
  - @winners.each do |player|
    %tr.player
      %td
        %span.name{:style => "color: #{player.color}"}= player.name
        %span.message= 'has enough victory points to win'

%table.players
  %tr
    - @game.players.each do |player|
      %td{:width => "#{100 / @game.players.size}%"}
        = render player
