#game_title
  #number= "game ##{@game.id}"
  #expansions
    Expansions:
    - @game.expansions.each do |expansion|
      .expansion= expansion.display_name
  = link_to 'customize game or edit/add players', edit_game_url(@game)

- if @game.uses?(CitiesAndKnights)
  %table#gameCounts.centered
    %tr.cities
      %th
      %th cities
      %td.count= @game.barbarians.strength
    %tr#totalActivatedKnights
      %th
      %th activated knights
      %td.count= @game.barbarians.strength_defended_against
    %tr.barbariansAttack
      %th= image_tag('barbarians.png')
      %th{:colspan => 2}= link_to 'barbarians attack', attack_game_barbarians_url(@game), :method => :put, :remote => true

#players
  - @game.players.each do |player|
    = render player
