.settlements
  %span.image= "#{image_tag('settlement.png')} = "
  %span.number= player.settlements.size
  - if player.can_build_settlement?
    = link_to '+', player_settlements_url(player), :method => :post
  - if player.can_build_city?
    = link_to 'upgrade to city', settlement_upgrade_to_city_url(player.settlements.first), :method => :post
