.player{:style => "border: 5px solid #{player.color == 'white' ? 'black' : player.color}"}
  .name{:style => "background-color: #{player.color}"}
    %span= player.name
  = render :partial => 'players/counts', :locals => {:player => player}
  = render :partial => 'longest_roads/longest_road', :locals => {:player => player}
  - if @game.largest_army.player_id
    = render :partial => 'largest_armies/largest_army', :locals => {:player => player}
  .buildings
    = render :partial => 'cities/cities', :locals => {:player => player}
    = render :partial => 'settlements/settlements', :locals => {:player => player}
    - if @game.uses?(CitiesAndKnights)
      = render :partial => 'knights/knights', :locals => {:player => player}
    - else
      = render :partial => 'soldiers/soldiers', :locals => {:player => player}
