.bonuses
  = longest_road_image(player)
  - if @game.uses?(FishermenOfCatan) && player.boot
    = image_tag('boot.png', :title => 'boot')
  - if @game.uses?(CitiesAndKnights)
    - if player.merchant
      = merchant_image
    - player.metropolises.each do |metropolis|
      = metropolis_image_tag(metropolis.development_area)
    - player.progress_card_victory_points.each do
      = image_tag('victory_point.png')
    - player.defenders_of_catan.each do
      = image_tag('defender_of_catan.png')
