= div_for(player, :style => "border-color: #{player.color == 'white' ? 'black' : player.color}", :class => player.has_enough_victory_points_to_win? ? 'hasEnoughVictoryPointsToWin' : nil) do
  .name{:style => "background-color: #{player.color}"}
    %span= player.name
  = render :partial => 'players/victory_points', :locals => {:player => player}
  = render :partial => 'longest_roads/longest_road', :locals => {:player => player}
  - if @game.uses?(CitiesAndKnights)
    = render :partial => 'merchants/merchant', :locals => {:player => player}
    = render :partial => 'progress_card_victory_points/progress_card_victory_points', :locals => {:player => player}
  - if @game.uses?(FishermenOfCatan)
    = render :partial => 'boots/boot', :locals => {:player => player}
  - if @game.plays_with_largest_army?
    = render 'largest_armies/largest_army', :show => @game.largest_army.player_id == player.id
  - if @game.uses?(CitiesAndKnights)
    = render :partial => 'players/defenders_of_catan', :locals => {:player => player}
  .buildings
    = render 'metropolises/metropolises', :metropolises => @game.metropolises, :player => player
    = render :partial => 'cities/cities', :locals => {:player => player}
    = render :partial => 'settlements/settlements', :locals => {:player => player}
    - if @game.uses?(CitiesAndKnights)
      = render :partial => 'knights/knights', :locals => {:player => player}
    - else
      = render :partial => 'soldiers/soldiers', :locals => {:player => player}
