- player_has_longest_road = player.longest_road
%span.longest_road{:class => player_has_longest_road ? 'owned' : ''}
  - check_box = check_box_tag("take_longest_road_#{player}", 1, player_has_longest_road, :disabled => player_has_longest_road)
  - if player_has_longest_road
    = check_box
  - else
    = link_to check_box, take_longest_road_player_url(player), :method => :put
  = label_tag "take_longest_road_#{player}", 'longest road'
