!!! 5

%html
  %head
    %title
      Catan Counter
    = stylesheet_link_tag 'screen', :cache => true
    = javascript_include_tag 'prototype', 'rails', 'application'
    = csrf_meta_tag

  %body
    - if flash.any?
      #flash
        - flash.each do |type, messages|
          %div{:class => type}
            - (messages.is_a?(Array) ? messages : [messages]).each do |message|
              %div= message

    #main
      = yield
