!!! 5

%html
  %head
    %title
      Catan Counter
    = stylesheet_link_tag 'screen', :cache => true
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'rails', 'application'
    = csrf_meta_tag

  %body
    - ['notice', 'error'].each do |type|
      %div{:id => "flash_#{type}"}= flash[type]

    #main
      = yield
